section {
    padding: 1rem 0;
}

.container {
    text-align: center;
}

.button {
    margin-left: 2rem;
    color: white;
}

.button.button_primary {
     padding: 0.5rem .5rem;
     background-color: orange;
}

.button.button_primary:hover {
     background-color: darkorange;
     color: darkslategrey;
 }

.button.button_primary:active {
     background-color: orangered;
 }

.stepperButton {
    box-sizing: border-box;
    margin-left: .3rem;
    height: 30px;
    width: 30px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 3px;
}

.stepperButton:hover {
     background-color: darkorange;
     color: darkslategrey;
 }

.stepperButton:active {
     background-color: orangered;
 }

.input {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid orange;
    line-height: 30px;
    font-size: 12px;
}
